{% extends "base/base.html" %} {% block content %}
<div class="starter-template my-3">
  <h1>{{ title }}</h1>
  <div class="lead mb-4">{{ description | safe }}</div>
</div>

<!-- Locale Selector (hidden by default) -->
<div class="select d-none">
  <select class="form-control" id="locale">
    <option value="en-US" selected>en-US</option>
  </select>
</div>

<div>
  <!-- Toolbar -->
  <div id="toolbar">
    <div class="form-inline" role="form">
      {% if show_import_button %}
      <span class="btn btn-file btn-secondary">
        <i class="bi bi-upload h6"></i> Import CSV
        <input id="csv-file" type="file" />
      </span>
      {% endif %}
      {% if show_export_button %} 
      <button id="export-button" type="button" class="btn btn-secondary">
        <i class="bi bi-save h6"></i> Export CSV
      </button>
      {% endif %}
      {% if show_add_button %}
      <button id="add-button" type="button" class="btn btn-secondary">
        <i class="bi bi-plus-square h6"></i> Add
      </button>
      {% endif %}
      {% if show_sync_button %}
      <button id="sync-button" type="button" class="btn btn-warning">
        <i class="bi bi-arrow-repeat h6"></i> Sync Production
      </button>
      {% endif %}
    </div>
  </div>

  <!-- Table -->
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-fullscreen="false"
    data-show-columns="true"
    data-show-columns-toggle-all="false"
    data-detail-view="true"
    data-detail-formatter="detailFormatter"
    data-show-toggle="true"
    data-show-export="true"
    data-click-to-select="false"
    data-minimum-count-columns="2"
    data-show-pagination-switch="false"
    data-pagination="true"
    data-id-field="id"
    data-page-list="[10, 50, 100, 500, 1000, 5000]"
    data-search-highlight="false"
    data-show-search-button="true"
    data-search-on-enter-key="true"
    data-show-search-clear-button="true"
    data-unique-id="id"
    data-show-extended-pagination="true"
    data-show-columns-search="true"
    data-side-pagination="server"
    data-ajax="{{ list_func }}"
  >
    <thead>
      <tr>
        {% for col in table_columns %}
        <th data-field="{{ col.field }}" {% if col.sortable %}data-sortable="true"{% endif %}>{{ col.title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <!-- Example rows can be inserted here if needed -->
    </tbody>
  </table>
</div>
{% if show_edit_button %}
<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit {{ modal_title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          {% for field in modal_fields %}
          <div class="mb-3 form-floating input-wrapper">
            <input
              type="text"
              class="form-control {% if field.type == "date" %}gregorian-date {% endif %}{% if field.type == "persianDate" %}persian-date {% endif %}"
              id="{{ field.id }}"
              {%
              if
              field.readonly
              %}readonly
               disabled {%
              endif
              %}
              {% if field.no_auto_complete %} autocomplete="off" {% endif %}
            />
            <label for="{{ field.id }}" class="form-label"
              >{{ field.label }}</label
            >
          </div>
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="saveChanges"
          data-bs-dismiss="modal"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if show_delete_button or show_sync_button %}
<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        DO you confirm?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmBtn">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if show_add_button %}
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add New {{ modal_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addForm">
          {% for field in modal_fields %}
          {% if not field.readonly %}
          <div class="mb-3 form-floating input-wrapper">
            <input type="text" class="form-control {% if field.type == "date" %}gregorian-date {% endif %}{% if field.type == "persianDate" %}persian-date {% endif %}" id="add-{{ field.id }}" {% if field.no_auto_complete %}autocomplete="off"{% endif %}>
            <label for="add-{{ field.id }}" class="form-label">{{ field.label }}</label>
          </div>
          {% endif %}
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="confirmAdd" data-bs-dismiss="modal">Add Record</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
  // Page configuration injected from the view
  const pageConfig = {
    exportUrl: "{{ export_url }}",     
    importUrl: "{{ import_url }}",     
    importStatusUrl: "{{ import_status_url }}", 
    saveEditFunction: "{{ save_edit_function }}",  
    deleteUrl: "{{ delete_url }}", 
    addUrl: "{{ add_url }}",
    syncUrl: "{{ sync_url }}"
  };

  // Cache common DOM elements
  const $table         = $("#table");
  {% if show_import_button %}
  const csvFile        = document.getElementById("csv-file");
  {% endif %}
  {% if show_export_button %}
  const exportBtn      = document.getElementById("export-button");
  {% endif %}
  {% if show_edit_button %}
  const activeEditBtn = true;
  const saveBtn        = document.getElementById("saveChanges");
  {% endif %}
  {% if show_add_button %}
  const addBtn         = document.getElementById("add-button");
  const confirmAddBtn  = document.getElementById("confirmAdd");
  {% endif %}
  {% if show_delete_button or show_sync_button %}
  const activeDeleteBtn = true;
  const confirmModalEl = document.getElementById("confirmModal");
  const confirmBtn = document.getElementById("confirmBtn");
  // To store the row ID pending deletion
  let currentDeleteRowId = null;
  {% endif %}

  // Initialize table with common options
  var isMobile = window.innerWidth < 768;
  function initTable() {
    $table.bootstrapTable("destroy").bootstrapTable({
      height: 600,
      locale: $("#locale").val(),
      mobileResponsive: true,
      cardView: isMobile,
    });
  }
  
  $(function () {
    initTable();
    $("#locale").change(initTable);
  });
  
  function onSuccess() {
    $table.bootstrapTable("refresh");
  };

  // Listen for messages from parent (to receive hostname and token)
  window.addEventListener("message", (event) => {
    if (event.data && event.data.hostname && event.data.token) {
      hostname = event.data.hostname;
      token    = event.data.token;
      onSuccess();
      finishedProgress();
      console.log("Received message from parent:", event.data);
    }
  });
  {% if show_import_button %}
  // CSV file upload handler
  csvFile.addEventListener("change", () => {
    ImportCSV(pageConfig.importUrl, pageConfig.importStatusUrl);
  });
  {% endif %}
  {% if show_export_button %}
  // CSV export handler
  exportBtn.addEventListener("click", () => {
    exportCSV(pageConfig.exportUrl);
  });
  {% endif %}
  {% if show_edit_button %}
  // Save changes from edit modal form
  saveBtn.addEventListener("click", () => {
    // Use the function name provided in the configuration
    window[pageConfig.saveEditFunction](document.getElementById("editID").value);
  });

  // Open modal for editing; uses dynamic mapping for modal fields
  $(document).on("click", ".open-modal-edit-btn", function () {
    const rowId = $(this).data("id");
    const rowData = $table.bootstrapTable("getData").find(row => Number(row.id) === Number(rowId));
  
    if (rowData) {
      {% for field in modal_fields %}
      {
        let value = (rowData.{{ field.field_key }} && rowData.{{ field.field_key }} !== "Not Defined")
                    ? rowData.{{ field.field_key }}
                    : "";
        {% if field.transform %}
        value = applyTransforms(value, "{{ field.transform }}");
        {% endif %}
        document.getElementById("{{ field.id }}").value = value;
      }
      {% endfor %}
      const modal = new bootstrap.Modal(document.getElementById("editModal"));
      modal.show();
    }
  });
  {% endif %}
  {% if show_delete_button %}
  // Open delete confirmation modal for deletion
  $(document).on("click", ".open-modal-delete-btn", function () {
    currentDeleteRowId = $(this).data("id");
    const modalInstance = new bootstrap.Modal(confirmModalEl);
    confirmModalEl.querySelector(".modal-body").innerHTML = "Are you sure you want to  <b style='color: red;'>Delete</b> this record?";
    confirmBtn.innerHTML = "<b>Delete</b>";
    modalInstance.show();
  });

  // Confirm delete action
  confirmBtn.addEventListener("click", () => {
    if (currentDeleteRowId) {
      ajaxDelete(pageConfig.deleteUrl ,currentDeleteRowId);
      currentDeleteRowId = null;
      // Hide the modal after confirming deletion
      const modalInstance = bootstrap.Modal.getInstance(confirmModalEl);
      modalInstance.hide();
    }
  });
  {% endif %}
  {% if show_sync_button %}
  // Open sync confirmation modal for sync
  $(document).on("click", "#sync-button", function () {
    const modalInstance = new bootstrap.Modal(confirmModalEl);
    confirmModalEl.querySelector(".modal-body").innerHTML = "Are you sure you want to <b style='color: red;'>Sync</b> this table?";
    confirmBtn.innerHTML = "<b>Sync</b>";
    modalInstance.show();
  });

  // Confirm sync action
  confirmBtn.addEventListener("click", () => {
    ajaxSync(pageConfig.syncUrl);
    const modalInstance = bootstrap.Modal.getInstance(confirmModalEl);
    modalInstance.hide();
    }
  );
  {% endif %}
  {% if show_add_button %}
  // Open add modal when the "Add" button is clicked
  if (addBtn) {
    addBtn.addEventListener("click", () => {
      // Clear all fields in the add form
      {% for field in modal_fields %}
      {% if not field.readonly %}
      document.getElementById("add-{{ field.id }}").value = "";
      {% endif %}
      {% endfor %}
      const addModal = new bootstrap.Modal(document.getElementById("addModal"));
      addModal.show();
    });
  }

  // Confirm add action; gather data and send POST request
  confirmAddBtn.addEventListener("click", () => {
    let data = {};
    {% for field in modal_fields %}
    {% if not field.readonly %}
    data["{{ field.field_key }}"] = document.getElementById("add-{{ field.id }}").value;
    {% endif %}
    {% endfor %}
    ajaxAddRecord(pageConfig.addUrl, data);
  });
  {% endif %}
</script>
{% endblock %}
