{% extends "base/base.html" %} {% block content %}
<div class="starter-template my-3">
  <h1>{{ title }}</h1>
  <p class="lead mb-4">{{ description }}</p>
</div>
<style>
  .select,
  #locale {
    width: 100%;
  }
</style>
<div class="select d-none">
  <select class="form-control" id="locale">
    <option value="en-US" selected>en-US</option>
  </select>
</div>
<div class="">
  <div id="toolbar">
    <div class="form-inline" role="form">
      <span class="btn btn-file btn-primary">
        <i class="bi bi-upload h6"></i> Import CSV
        <input id="csv-file" type="file" />
      </span>
      <button id="export-button" type="button" class="btn btn-primary">
        <i class="bi bi-save h6"></i> Export CSV
      </button>
    </div>
  </div>
  <table
    id="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="false"
    data-show-fullscreen="false"
    data-show-columns="true"
    data-show-columns-toggle-all="false"
    data-detail-view="false"
    data-show-export="true"
    data-click-to-select="false"
    data-minimum-count-columns="2"
    data-show-pagination-switch="false"
    data-pagination="true"
    data-id-field="id"
    data-page-list="[10, 50, 100, 500, all]"
    data-search-highlight="false"
    data-show-search-button="true"
    data-search-on-enter-key="true"
    data-show-search-clear-button="true"
    data-unique-id="id"
    data-show-extended-pagination="true"
    data-show-columns-search="true"
    data-sortable="false"
    data-side-pagination="server"
    data-ajax="ajaxRequestProductsDailyPurchased"
  >
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="product_id">Product ID</th>
      <th data-field="product_name">Product Name</th>
      <th data-field="date">Date</th>
      <th data-field="price">Price</th>
      <th data-field="count">Count</th>
      <th data-field="description">Description</th>
      <th data-field="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Example Rows -->
    <tr>
      <td>1</td>
      <td>1</td>
      <td>Product 1</td>
      <td>2000-01-01</td>
      <td>1000$</td>
      <td>10</td>
      <td>Some text</td>
      <td>
        <button class="btn btn-sm btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#editModal">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Product Daily Purchased</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editProduct">
          <div class="mb-3">
            <label for="editID" class="form-label">ID</label>
            <input type="text" class="form-control " id="editID" readonly disabled/>
          </div>
          <div class="mb-3">
            <label for="editProductID" class="form-label">Product ID</label>
            <input type="text" class="form-control " id="editProductID"/>
          </div>
          <div class="mb-3">
            <label for="editProductName" class="form-label">Product Name</label>
            <input type="text" class="form-control " id="editProductName" readonly disabled/>
          </div>
          <div class="mb-3">
            <label for="editDate" class="form-label">Date</label>
            <input type="text" class="form-control" id="editDate" />
          </div>
          <div class="mb-3">
            <label for="editPrice" class="form-label">Price</label>
            <input type="text" class="form-control" id="editPrice" />
          </div>
          <div class="mb-3">
            <label for="editCount" class="form-label">Count</label>
            <input type="text" class="form-control" id="editCount" />
          </div>
          <div class="mb-3">
            <label for="editDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="editDescription" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChanges" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  var $table = $("#table");
  const csvFile = document.getElementById("csv-file");
  const exportButton = document.getElementById("export-button");
  const saveButton = document.getElementById("saveChanges");
  function initTable() {
    $table.bootstrapTable("destroy").bootstrapTable({
      height: 600,
      locale: $("#locale").val(),
    });
  }
  $(function () {
    initTable();
    $("#locale").change(initTable);
  });
  window.addEventListener("message", function (event) {
    if (!!event.data && !!event.data.hostname && !!event.data.token) {
      hostname = event.data.hostname;
      console.log("Hostname received from the parent: " + hostname);
      token = event.data.token;
      $table.bootstrapTable("refresh");
      finishedProgress();
      console.log("Message received from the parent: " + event.data);
    }
  });
  csvFile.addEventListener("change", () => {
    ImportCSV(
      "/devops-tools/v1/products/products_daily_purchased/import_csv/", 
      '/devops-tools/v1/products/products_daily_purchased/import_csv/status/'
      );
    $table.bootstrapTable("refresh");
  });
  
  exportButton.addEventListener("click", () => {
    exportCSV("/devops-tools/v1/products/products_daily_purchased/export_csv");
  });
  saveButton.addEventListener("click", () => {
    ajaxEditProductsDailyPurchased(document.getElementById("editID").value);
  });
  $(document).on("click", ".open-modal-edit-btn", function () {
    var rowId = $(this).data("id");
    var rowData = $("#table").bootstrapTable("getData").find((row) => Number(row.id) === Number(rowId));

    if (rowData) {
      document.getElementById("editID").value = rowData.id;
      if (rowData.product_id == "Not Defined") {
        document.getElementById("editProductID").value = "";
      } else {
        document.getElementById("editProductID").value = rowData.product_id;
      }
      if (rowData.product_name == "Not Defined") {
        document.getElementById("editProductName").value = "";
      } else {
        document.getElementById("editProductName").value = rowData.product_name;
      }
      if (rowData.date == "Not Defined") {
        document.getElementById("editDate").value = "";
      } else {
        document.getElementById("editDate").value = rowData.date;
      }
      if (rowData.price == "Not Defined") {
        document.getElementById("editPrice").value = "";
      } else {
        document.getElementById("editPrice").value = String(rowData.price).replace(/,/,'').replace(/ Toman$/,'');
      }
      if (rowData.count == "Not Defined") {
        document.getElementById("editCount").value = "";
      } else {
        document.getElementById("editCount").value = rowData.count;
      }
      if (rowData.description == "Not Defined") {
        document.getElementById("editDescription").value = "";
      } else {
        document.getElementById("editDescription").value = rowData.description;
      }  
      const modal = new bootstrap.Modal(document.getElementById("editModal"));
      modal.show();
    }
  });
</script>
{% endblock %}
