:root {
  --bs-primary: #2f3b49;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #2f3b49;
}

.form-control:focus {
  color: #5B6879;
  border-color: #5B6879;
  box-shadow: 0 0 0 .15rem #5b6879ad;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #5B6879;
  padding-right: 40px;
}

.input-group-text {
  color: #2f3b49;
  border: 1px solid #5B6879;
  border-radius: 4px;
}

.pagination {
  --bs-pagination-color: #2f3b49;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-color: #5B6879;
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(36, 46, 56, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #2f3b49;
  --bs-pagination-active-border-color: #2f3b49;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #5B6879;
  --bs-pagination-hover-color: #2f3b49;
  --bs-pagination-focus-color: #2f3b49;
}

.btn-primary {
  --bs-btn-bg: #2f3b49;
  --bs-btn-border-color: #2f3b49;
  --bs-btn-hover-bg: #212831;
  --bs-btn-hover-border-color: #212831;
  --bs-btn-active-bg: #212831;
  --bs-btn-active-border-color: #212831;
  --bs-btn-disabled-bg: #2f3b49;
  --bs-btn-disabled-border-color: #2f3b49;
}

.btn {
  border-radius: 4px;
}

.btn-secondary {
  --bs-btn-color: #24303F;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #5B6879;
  --bs-btn-hover-color: #24303F;
  --bs-btn-hover-bg: #e3e3e3;
  --bs-btn-hover-border-color: #e3e3e3;
  --bs-btn-active-color: #24303F;
  --bs-btn-active-bg: #e3e3e3;
  --bs-btn-active-border-color: #e3e3e3;
  --bs-btn-disabled-color: #24303F;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-danger {
  --bs-btn-bg: #FF4747;
  --bs-btn-border-color: #FF4747;
  --bs-btn-hover-bg: #d12c2c;
  --bs-btn-hover-border-color: #d12c2c;
  --bs-btn-active-bg: #d12c2c;
  --bs-btn-active-border-color: #d12c2c;
  --bs-btn-disabled-bg: #FF4747;
  --bs-btn-disabled-border-color: #FF4747;
}

.nav-tabs .nav-link {
  background: 0 0;
  border: var(--bs-nav-tabs-border-width) solid #E6E6EF;
  border-radius: 0;
  border-color: var(--bs-nav-tabs-link-active-border-color);
  color: #596069;
  width: 100%;
}

.nav-tabs .nav-link:active {
  background: 0 0;
  border-left: var(--bs-nav-tabs-border-width) solid #E6E6EF;
  border-right: var(--bs-nav-tabs-border-width) solid #E6E6EF;
  border-top: var(--bs-nav-tabs-border-width) solid #E6E6EF;
  border-radius: 0;
  color: #24303F;
  border-bottom-color: #FFC400;
  width: 100%;
}

.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
  color: #596069;
  width: 100%;
}

.nav-tabs .nav-item:first-child .nav-link.active {
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
  border-bottom-color: #FFC400;
  color: #24303F;
  width: 100%;
}

.nav-tabs .nav-item:last-child .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
  border-left-width: 1px;
  color: #596069;
  width: 100%;
}

.nav-tabs .nav-item:last-child .nav-link.active {
  border-top-left-radius: 0;
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
  border-left-width: 1px;
  border-bottom-color: #FFC400;
  color: #24303F;
  width: 100%;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-color: #E6E6EF;
  --bs-nav-tabs-border-radius: 5px;
  --bs-nav-tabs-link-hover-border-color: #8A8AA3;
  --bs-nav-tabs-link-active-color: #24303F;
  --bs-nav-tabs-link-active-border-color: #E6E6EF;
  width: 100%;
}

.nav {
  --bs-nav-link-hover-color: #24303F;
  --bs-nav-link-disabled-color: #E6E6EF;
  border-bottom: none;
  --bs-nav-link-padding-x: 2rem;
  --bs-nav-link-padding-y: 0.7rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-top-color: var(--bs-nav-tabs-link-active-border-color);
  border-left-color: var(--bs-nav-tabs-link-active-border-color);
  border-right-color: var(--bs-nav-tabs-link-active-border-color);
  border-bottom-color: #FFC400;
  width: 100%;
}

.nav-item {
  flex: 1;
}

.form-floating>.form-control~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control:focus~label {
  opacity: 1;
  transform: scale(.85) translateY(-1.3rem) translateX(0.8rem);
  background: #ffffffdd;
  padding: 0.3rem;
  padding-bottom: 0;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0px;
  width: unset;
  height: unset;
  white-space: break-spaces;
}

.input-wrapper {
  position: relative;
}

.unit-label {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6c757d;
}

.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-not-clickable {
  cursor: unset !important;
}

.form-check-input:checked {
  background-color: #FFC400;
  border-color: #FFC400;
}

.form-check-input {
  transform: scale(1.5);
  margin-left: 10px;
}

.form-switch .form-check-input {
  margin-left: -3.5em;
}

.form-check-input:focus {
  border-color: #feec86;
  outline: 0;
  box-shadow: 0 0 0 .25rem #fded0d5b;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23feec86'/%3e%3c/svg%3e");

}

.select,
#locale {
  width: 100%;
}