<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/devops-tools-front/static/bootsrtap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/devops-tools-front/static/bootsrtap-icon/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/devops-tools-front/static/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/devops-tools-front/static/style.css" rel="stylesheet">
    <script src="/devops-tools-front/static/jquery/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div id="wrapper">
        {% include 'base/loading.html' %}
        {% include 'base/toast.html' %}
        {% include 'base/header.html' %}
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        {% include 'base/footer.html' %}
    </div>
    <script src="/devops-tools-front/static/pooper/popper.min.js"></script>
    <script src="/devops-tools-front/static/bootsrtap/js/bootstrap.bundle.min.js"></script>
    <script src="/devops-tools-front/static/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="/devops-tools-front/static/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
    <script src="/devops-tools-front/static/bootstrap-table/js/bootstrap-table-export.min.js"></script>
    <script src="/devops-tools-front/static/bootstrap-table/js/tableExport.min.js"></script>
    <script src="/devops-tools-front/static/script.js"></script>
</body>
</html>