{% extends "base/base.html" %}

{% block content %}
<div class="starter-template my-3">
    <h1>{{ title }}</h1>
    <p class="lead">{{ description }}</p>
</div>
  </div>
  <form class="m-3" method="put" enctype="multipart/form-data">
  <div class="mb-3">
    
    <label for="formFile" class="form-label">Update Lock...</label>
    <div class="input-group d-flex">
      <span class="input-group-text" id="basic-addon1">New order lock in days</span>
      <input type="number" class="form-control" placeholder="lock" aria-label="lock" aria-describedby="basic-addon1">
      <button id="upload-button-lock-update" type="button" class="btn btn-info mx-1" >Update</button>
    </div>
  </div>
  </form>
  <div class="card-lock-update" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Order lock in days</h5>
      <p id="order-lock" class="card-text"></p>
    </div>
  </div>
  <script>
    window.addEventListener('message', function(event) {
      if(!!event.data) {
          hostname = event.data.hostname;
          console.log("Hostname received from the parent: " + hostname)
          token = event.data.token;
          ajaxRequestProductTaxMoadian()
      }
      console.log("Message received from the parent: " + event.data);
    });
  </script>
{% endblock %}